# Ignorar carpetas generadas por NetBeans
build/
dist/
test/
nbproject/private/

# Ignorar archivos compilados
*.class
build.xml

# Ignorar configuraciones locales
*.log
.DS_Store
Thumbs.db

# Ignorar archivos comprimidos
*.zip
*.tar.gz

# Ignorar archivos temporales
*.tmp
